<div class="grid-container">
  <div class="grid-item1">
    <div class="table-responsive" e>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="product-col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-item2"></div>
  <div class="grid-item3"></div>
  <div class="grid-item4">
    <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect>Update cart</button>
  </div>
  <div class="grid-item5"></div>
  <div class="grid-item6"></div>
  <div class="grid-item7">
    <div class="checkout">
      <div>Subtotal</div>
      <div>Shipping</div>
      <div>Total</div>
    </div>
  </div>
  <div class="grid-item8"></div>
  <div class="grid-item9"></div>
  <div class="grid-item10">
    <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect>Proceed to checkout</button>
  </div>
  <br>
</div>