.footer {
  position: fixed;
  width: 100vw;
  height: 300px !important;
  bottom: 0px;
  left: 0px;
  background-color: rgb(51, 51, 51);
  z-index: -1;
}

p {
  color: white;
}

.icon {
  widows: 40px;
  height: 40px;
  margin-left: 5px;
}

.social-buttons-container {
  margin: 20px auto 10px auto;
  width: max-content;
}

.copyright {
  margin: 10px auto 20px auto;
  width: max-content;
}
