.grid-container {
  display: grid !important;
  grid-template-columns: auto auto auto auto !important;
}

.image {
  height: 400px;
  width: 100%;
  transition: All 2s;
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 17; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-image {
  position: fixed; /* Stay in place */
  top: 10vh;
  left: 10vw;
  z-index: 17; /* Sit on top */
  width: 80vw;
  height: 80vh;
  margin: auto !important;
  animation-name: zoom;
  animation-duration: 1s;
}

.icon-left {
  position: fixed;
  z-index: 17;
  top: 45vh;
  left: 3vw;
}

.icon-right {
  position: fixed;
  z-index: 17;
  top: 45vh;
  right: 3vw;
}

.icon-close {
  position: fixed;
  z-index: 17;
  top: 2vh;
  right: 2vw;
}

.container {
  position: fixed; /* Stay in place */
  z-index: 17; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
