<div class="grid-container">
    <div *ngFor="let picture of pictures; let i = index" (click)="clicked(i)">
        <img src={{picture}} alt="picture" class="image" [ngClass]="{'large-image': i == index }">
    </div>
    <div class="container" *ngIf="isClicked">
        <div class="modal" (click)="close()"></div>
        <img class="modal-image" src={{pictures[index]}} *ngIf="isClicked">
        <img class='icon-close' src='/assets/icons/close.png' (click)="close()" />
        <img class='icon-left' src='/assets/icons/left.png' (click)="left()" />
        <img class='icon-right' src='/assets/icons/right.png' (click)="right()" />
    </div>
</div>
<br>
<br>