<div class="my-container">
  <!-- <h4>Sign in</h4> -->
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/id-card.png' />
    <input mdbInputDirective type="text" id="username" class="form-control">
    <label for="username">Username</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/dog-tags-military.png' />
    <input mdbInputDirective type="text" id="fullname" class="form-control">
    <label for="fullname">Fullname</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/mail.png' />
    <input mdbInputDirective type="text" id="email" class="form-control">
    <label for="email">Email</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/skyline.png' />
    <input mdbInputDirective type="text" id="city" class="form-control">
    <label for="city">City</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/house.png' />
    <input mdbInputDirective type="text" id="address" class="form-control">
    <label for="address">Address</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/phone.png' />
    <input mdbInputDirective type="text" id="phone" class="form-control">
    <label for="phone">Phone</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/key.png' />
    <input mdbInputDirective type="text" id="password" class="form-control">
    <label for="password">Password</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/key2.png' />
    <input mdbInputDirective type="text" id="password2" class="form-control">
    <label for="password2">Re-enter password</label>
  </div>
  <button mdbBtn type="button" color="info" class="waves-light my-btn" mdbWavesEffect>Register</button>
</div>