.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  justify-content: space-evenly;
}

.category-card {
  position: relative;
  height: 400px;
  max-height: 400px;
  width: 250px;
  max-width: 250px;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

.stripe {
  position: absolute;
  background-color: gray;
  height: 30px;
  width: 250px;
  bottom: 40px;
  text-align: center;
  color: white;
}

.category-card:hover .stripe {
  background-color: #333333;
  color: white;
}

.category-card:hover .image {
  transform: scale(1.1);
}
