<div class="my-container">
  <!-- <h4>Sign in</h4> -->
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/email.png' />
    <input mdbInputDirective type="text" id="email" class="form-control">
    <label for="email">Email</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/key.png' />
    <input mdbInputDirective type="text" id="password" class="form-control">
    <label for="password">Password</label>
  </div>
  <div class="md-form">
    <img class='icon prefix' src='/assets/icons/key2.png' />
    <input mdbInputDirective type="text" id="password2" class="form-control">
    <label for="password2">Password</label>
  </div>
  <mdb-checkbox [checked]="true" [default]="true" class="d-inline-block ml-2">Remember me</mdb-checkbox>
  <a href="" class="float-right">Forgot password?</a>
  <button mdbBtn type="button" color="info" class="waves-light my-btn" mdbWavesEffect>Sign in</button>
  <div class="socials">
    <a href=""><img src='/assets/icons/facebook.png' class="social-icon" /></a>
    <a href=""><img src='/assets/icons/google.png' class="social-icon" /></a>
  </div>
</div>