<div class="site-body">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-carousel *ngIf="route === '/'"></app-carousel>
    <app-border [text]="'Categories'" *ngIf="route === '/'"></app-border>
    <app-categories *ngIf="route === '/'"></app-categories>
    <app-border [text]="'Latest Products'" *ngIf="route === '/'"></app-border>
    <app-latest-products *ngIf="route === '/'"></app-latest-products>
    <app-top-products *ngIf="route === '/'"></app-top-products>
    <app-border [text]="'Charts'" *ngIf="route === '/'"></app-border>
    <div class="chart-container" *ngIf="route === '/'">
        <app-top-rated-products></app-top-rated-products>
        <app-best-sellers></app-best-sellers>
    </div>
    <app-border [text]="'Info'" *ngIf="route === '/'"></app-border>
    <app-info-board *ngIf="route === '/'"></app-info-board>
</div>


<app-footer></app-footer>