.navigation-bar {
  display: block;
  padding: 30px 0px 20px 0px;
  height: 80px;
}

.hamburger {
  display: none;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-left: 20px;
}

.responsive {
  display: block;
  width: 100% !important;
}

.logo-font {
  font-size: 27px !important;
  color: #333 !important;
  pointer-events: auto;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 830px) {
  .hamburger {
    display: inline-block;
  }

  .nav-items {
    display: none;
  }
}
