<a class="nav-item font link" href="#!" [class.block]='isDisplayBlock'>Products</a>
<a class="nav-item font link" href="#!" [class.block]='isDisplayBlock'>Gallery</a>
<a class="nav-item font link" href="#!" [class.block]='isDisplayBlock'>About</a>
<a class="nav-item font link" href="#!" [class.block]='isDisplayBlock'>
    <img class='icon' src='/assets/icons/cart.png' />Cart
</a>
<a class="nav-item font link" href="#!" [class.block]='isDisplayBlock'>
    <img class='icon' src='/assets/icons/search.png' />Search
</a>
<a class="nav-item font link" href="#!" [class.block]='isDisplayBlock'>
    <img class='icon' src='/assets/icons/user.png' />Profile
</a>