<a class="nav-item font link" routerLink="/products" [class.block]='isDisplayBlock'>Products</a>
<a class="nav-item font link" routerLink="/gallery" [class.block]='isDisplayBlock'>Gallery</a>
<a class="nav-item font link" routerLink="/about" [class.block]='isDisplayBlock'>About</a>
<a class="nav-item font link" routerLink="/cart" [class.block]='isDisplayBlock'>
    <img class='icon' src='/assets/icons/cart.png' />Cart
</a>
<a class="nav-item font link" routerLink="/search" [class.block]='isDisplayBlock'>
    <img class='icon' src='/assets/icons/search.png' />Search
</a>
<a class="nav-item font link" routerLink="/login" [class.block]='isDisplayBlock'>
    <img class='icon' src='/assets/icons/user.png' />Profile
</a>